@import "__settings/init";

.slick-arrow {
	width: rem(32);
	height: rem(32);
	position: absolute;
	z-index: 1;
	top: 50%;
	font-size: 0;
	line-height: 0;
	border: none;
	border-radius: 50%;
	background-color: $color--white;
	cursor: pointer;
	transition: background-color $default-transition-speed;

	@include media(">=lg") {
		width: rem(56);
		height: rem(56);
	}
	&::after {
		content: "";
		display: block;
		width: rem(10);
		height: rem(10);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		margin-left: 2px;
		border: 2px solid $color--black;
		border-width: 0 0 1px 1px;
		transition: border-color $default-transition-speed;

		@include media(">=lg") {
			width: rem(14);
			height: rem(14);
			border-width: 0 0 3px 3px;
		}
	}

	&:hover {
		background-color: $color--black;
		html.touch-device & {
			background-color: $color--white;
		}
		&::after {
			border-color: $color--white;
			html.touch-device & {
				border-color: $color--black;
			}
		}
	}

	&.slick-prev {
		top: calc(50% - 16px);
		right: auto;
		left: 5px;
		transform: translate(0, -50%);

		@include media(">=lg") {
			top: calc(50% - 27px);
			left: 20px;
		}
	}

	&.slick-next {
		top: calc(50% - 16px);
		right: 5px;
		left: auto;
		transform: translate(0%, -50%) rotate(180deg);

		@include media(">=lg") {
			top: calc(50% - 27px);
			right: 20px;
		}
	}
}

.slick-slide:focus {
	outline: none;
}
