@import "style";
@import "__iconfont/iconfont";

@font-face {
	font-family: iconfont-reTheme2;
	src: url(../../..//fonts/iconfont-reTheme2/iconfont-reTheme2.eot?26275b);
	src:
		url(../../..//fonts/iconfont-reTheme2/iconfont-reTheme2.eot?26275b#iefix) format("eot"),
		url(../../..//fonts/iconfont-reTheme2/iconfont-reTheme2.woff2?26275b) format("woff2"),
		url(../../..//fonts/iconfont-reTheme2/iconfont-reTheme2.woff?26275b) format("woff"),
		url(../../..//fonts/iconfont-reTheme2/iconfont-reTheme2.ttf?26275b) format("truetype"),
		url(../../..//fonts/iconfont-reTheme2/iconfont-reTheme2.svg?26275b#iconfont-reTheme2) format("svg");
	font-weight: 400;
	font-style: normal;
}
