/*
----------------------------------------
COLORS

Colors in variables.
*/

$color--black: #000;
$color--white: #fff;

// Text
$text-color-base: #222;
$text-light: $color--white;
$link-color: #e84545;
$link-hover-color: #222;

// Theme Colors
$color-1: #8aa660;
$color-2: #aed8f2;
$color-3: #d5e5f2;
$color-4: #404959;
$color-5: #102601;

$primary: #fbe8d3;
$secondary: #928a97;
$secondary-dark: #283c63;

$color-light: $color-3;
$color-dark: $color-5;

$body-background-color: $color--white;

// #404959
// #D5E5F2
// #AED8F2
// #102601
// #8AA660

// #404959
// #D5E5F2
// #94CEF2
// #8AA660
// #73736C
